{% extends "CreateUser/base.html" %}
{% load static %}

{% block title %}Add Recipients in Bulk{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="{% url "dashboard" %}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "home" %}">
                        <i class="fa-solid fa-house me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "templates" %}"><i class="fa-solid fa-envelope-open-text me-1"></i>Configure Mail Templates</a>
                </li>
            </ul>
            <ul class="navbar-nav align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if image %}
                            <img src="{{ image.url }}" alt="User" class="img-fluid rounded-circle me-2" style="width: 32px; height: 32px; object-fit: cover;">
                        {% else %}
                            <i class="fa-solid fa-user-circle fa-xl me-2"></i>
                        {% endif %}
                        <span class="d-none d-lg-inline">{{ username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="fa-solid fa-user-cog me-2"></i>View Profile</a></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>
{% if messages %}
        {% for message in messages %}
            <div class="alert alert1 alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="background-color: {{ message.color|default:'' }};">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
<div class="container mt-4 mb-4 add_recepient">
    <h2><i class="fa-solid fa-layer-group"></i> Add Recipients in Bulk</h2>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <div class="card mt-3 pb-4">
                <div class="card-body">
                    <h5 class="card-title text-center border p-2 bg-secondary mb-2 rounded-3">Upload File</h5>
                    <div class="mb-2 mt-3 border border-primary p-2 rounded-3 bg-black">
                        <small class="text-light">
                            <strong>Note:</strong> Fields marked with 
                            <span class="text-danger fw-bolder">*</span> are required to proceed with <i class='text-primary'>add new recipient</i>. Please ensure all mandatory information is provided accurately.
                        </small>
                    </div>  <hr>

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Choose file type<i class="text-danger fw-bolder fs-5">*</i> :</label>
                            <div class=" d-flex justify-content-around">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="csv" id="csvCheck" name="file_type" checked>
                                    <label class="form-check-label" for="csvCheck">
                                        CSV
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="xls" id="xlsCheck" name="file_type">
                                    <label class="form-check-label" for="xlsCheck">
                                        XLS/XLSX
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-md-6 mb-3">
                                <label for="group" class="form-label ">Select Group <i class="text-danger fw-bolder fs-5">*</i></label>
                                <select name="group" class="form-select bg-dark text-light form-control bg-dark" id="select">
                                    <option value="0" class='bg-dark text-light'>-- Select Group --</option>
                                    {% for group in groups %}
                                    <option value="{{ group.id }}" class="bg-dark text-light rounded-3">{{ group.group }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="filename" class="form-label">File Name<i class="text-danger fw-bolder fs-5">*</i></label>
                                <input class="form-control" type="text" id="filename" name="file_name" placeholder="Enter file name" required>
                            </div>
                        </div> 

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Select file <i class="text-danger fw-bolder fs-5">*</i></label>
                            <input class="form-control" type="file" id="formFile" name="bulk_file" required>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="terms" required>
                            <label class="form-check-label" for="exampleCheck1">I agree to the <a href="#">Terms and Conditions</a></label>
                        </div>
                        <div class="d-flex justify-content-between gap-2">
                            <a href=" {% url "dashboard" %} " class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Back to Dashboard</a>
                            <a href="{% url 'add_recepient' %}" class="btn btn-warning"><i class="fa-solid fa-user-plus"></i> Add Single Recipient</a>
                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-upload"></i> Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card mt-3 ">
                <div class="card-body">
                    <h5 class="card-title text-center border p-2 bg-secondary mb-2 rounded-3">File Format Reference</h5>
                    <p>Please make sure your CSV/XLS file has the following columns in this order:</p>
                    <table class="table table-bordered table-dark">
                        <tbody>
                            <tr>
                                <td>John Doe</td>
                                <td>john.doe@example.com</td>
                                <td>Friend</td>
                                <td>Met at a conference.</td>
                            </tr>
                            <tr>
                                <td>Jane Smith</td>
                                <td>jane.smith@example.com</td>
                                <td>Colleague</td>
                                <td>Works in the marketing department.</td>
                            </tr>
                            <tr>
                                <td>Bob Johnson</td>
                                <td>bob.johnson@example.com</td>
                                <td>Family</td>
                                <td>Has a birthday today.</td>
                            </tr>
                            <tr>
                                <td>Alice Brown</td>
                                <td>alice.brown@example.com</td>
                                <td>Friend</td>
                                <td>College roommate.</td>
                            </tr>

                        </tbody>
                    </table>
                    <p class="fw-bolder p-2 border bg-black rounded-3 text-light"><strong>Note:</strong> Remove headers of files as given references</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
