{% extends "CreateUser/base.html" %}
{% load static %}

{% block title %}Edit Recipient{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand fs-3" href=" {% url "dashboard" %} ">Dashboard</a>

        <h2>Welcome, {{username }}</h2>
        <div class="progress p-2 rounded-pill bg-black shadow-lg border pb-4">
            <span class="text-light me-3 fw-bolder">Profile Completetion</span> 
            <span><progress max="100" value="{{progress}}" min="0" ></progress></span><span class="ms-2">{{progress}}%</span>
            
        </div>
        <div class="d-flex align-items-center">
            <a href="{% url "templates" %}" class="btn btn-warning me-2">
            <i class="fa-solid fa-envelope-open-text"></i> Configure Mail Templates
            </a>
            <a href="{% url 'logout' %}" class="btn btn-danger me-2">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
            {% if image %}
                <a href="{% url "profile" %}" class="progileImage rounded-5 bg-light ">
                    <img src=" {{image.url}} " alt="" class="img-fluid rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
                </a>
                {% else %}
                <div class="progileImage rounded-5 bg-light me-2">
                    <a class="btn btn-light rounded-5" href="{% url "profile" %}">
                    <i class="fa-solid fa-user fa-xl" style="color: #050505ff;"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav> <hr>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h3 class="card-title text-center fw-bolder">✏️ Edit Recipient</h3>
          <hr>
          <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
              <label class="form-label fw-bolder">Name</label>
              <input type="text" name="name" class="form-control" value="{{ receipient.name }}" required>
            </div>

            <div class="mb-3">
              <label class="form-label fw-bolder">Email</label>
              <input type="email" name="email" class="form-control" value="{{ receipient.email }}" required>
            </div>

            <div class="mb-3">
              <label class="form-label fw-bolder">Category</label>
              <input type="text" name="category" class="form-control" value="{{ receipient.receipent_category }}">
            </div>

            <div class="mb-3">
              <label class="form-label fw-bolder">Comment</label>
              <textarea name="comment" class="form-control">{{ receipient.comment }}</textarea>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary fw-bolder">💾 Update Recipient</button>
              <a href="{% url 'dashboard' %}" class="btn btn-secondary fw-bolder">⬅ Back to Dashboard</a>
              {% comment %} <a href="{% url 'delete_recipient' r.id %}"  class="btn btn-danger fw-bolder">🗑 Delete</a> {% endcomment %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
