{% extends "CreateUser/base.html" %}
{% load static %}

{% block title %}Edit Email Template{% endblock %}

{% block content %}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand fs-3" href=" {% url "dashboard" %} ">Dashboard</a>

        <h2>Welcome, {{username }}</h2>
       
        <div class="d-flex align-items-center">
            <a href="{% url "templates" %}" class="btn btn-warning me-2">
            <i class="fa-solid fa-envelope-open-text"></i> Mail Templates
            </a>
            <a href="{% url 'logout' %}" class="btn btn-danger me-2">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
            {% if image %}
                <a href="{% url "profile" %}" class="progileImage rounded-5 bg-light ">
                    <img src=" {{image.url}} " alt="" class="img-fluid rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
                </a>
                {% else %}
                <div class="progileImage rounded-5 bg-light me-2">
                    <a class="btn btn-light rounded-5" href="{% url "profile" %}">
                    <i class="fa-solid fa-user fa-xl" style="color: #050505ff;"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav> <hr>

<div class="card col-6 p-4 shadow mx-auto mt-3">
    <div class="heading d-flex justify-content-between">
        <h4 class="mb-3">Edit Email Template</h4>
        <a href=" {% url "templates" %} "> <i class="fa-solid fa-xmark fa-2xl" style="color: #e60a0a;"></i></a>
    </div>
    <form method="post" action=' {% url "editTemplate" id %} '>
        {% csrf_token %}
        
        <!-- Template Name -->
        <div class="mb-3">
            <label class="form-label fw-bold">Template Name</label>
            <input type="text" class="form-control text-light" value="{{name}}" name='name'>
        </div>

        <!-- Subject -->
        <div class="mb-3">
            <label class="form-label fw-bold">Subject</label>
            <input type="text" class="form-control text-light" value="{{subject}}" name='subject'>
        </div>

        <!-- Body -->
        <div class="mb-3">
            <label class="form-label fw-bold">Email Body</label>
            <textarea class="form-control text-light" rows="8" name="body">{{body}}</textarea>
        </div>

        <!-- Actions -->
        <button type="submit" class="btn btn-success">Save Changes</button>
        <a href=" {% url "templates" %} " class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
