{% extends 'Home/base.html' %}

{% block title %}Home - Email Sender{% endblock %}

{% block content %}


<main class="hero-section text-center text-white">
    <div class="container">
        <h1 class="display-4">Send Emails with Ease</h1>
        <p class="lead">A powerful and reliable solution for all your email needs.</p>
        <a href="{% url 'Login' %}" class="btn btn-lg btn-primary">Get Started</a>
    </div>
</main>

<section class="stats-section py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h3 class="card-title">{{ user_count }}</h3>
                        <p class="card-text">Registered Users</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h3 class="card-title">{{r_count}}</h3>
                        <p class="card-text">Recepient count</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h3 class="card-title">97.03%</h3>
                        <p class="card-text">Uptime</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p>&copy; 2025 Email Sender. All Rights Reserved.</p>
    </div>
</footer>
{% endblock %}
